$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$color-primary:rgb(197, 116, 22);
$color-secondary:rgb(216, 159, 83);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $font-family-monospace;
}

body{
    
}

.home{
    background-image: url(../Imagens/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    .header{
        display: flex;
        justify-content: center;
        .nav{
            background-color: rgba(0, 0, 0, 0.103);
            padding: 30px 0;
            height: 150px;

            ul{
                list-style: none;
                display:flex;
                justify-content: space-between;
                
                li{
                    display:flex;
                    min-width: 200px;
                    
                    justify-content:center;
                    

                    a{
                        text-decoration: none;
                        color: $color-primary;
                        font-size: 20px;
                        align-items: center;
                        
                        padding: 10px;
                        margin: 20px;
                        transition: background-color 500ms;
                        transition: border-bottom 500ms;

                    }
    
                    a:hover{
                        // color: white;
                        background-color: rgba(0, 0, 0, 0.116);
                        border-bottom: 1px solid black;
                        border-radius: 5px 5px 0px 0px;
                    }
                    h1{
                        color: black;
                        font-size: 35px;
                        text-align: center;
                        text-transform: uppercase;
                        
                    }
                }
                
            }
        }
    }
   .slogan{
        margin: 50px;
        padding: 30px;
        width: 500px;
        // height: 400px;
        background-color: rgba(0, 0, 0, 0.651);
        border-radius: 10px;
        h2 {
            font-size: 60px;
            color: $color-primary;
            margin-bottom: 20px;
            
        }
        span{
            margin-top: 50px;
            padding-top: 50px;
            font-size: 20px;
            color: $color-secondary;
        }

    }

    
    
}

.produtosPg{
    background-image: url('../Imagens/farm.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    // background-color:$color-primary;
    height: 100vh;
    width: 100%;
    display: flex;
    
    .listProducts{
        display: flex;
        width: 100%;
        list-style: none;
        align-items: center;
        justify-content: space-around;
        

        .item{
            
            .imgEx{
                height: 400px;
                border-radius: 20px;
                border: 3px solid white;
                box-shadow: 2px 2px 5px rgb(15, 15, 15);
                transition: height 500ms;
            }
        }
        .item:hover{
            .imgEx{
                height: 450px;
                
            }

        }
        
    }
}
    